
/* Admin panel styles */
#news_filter {
  margin-bottom: 1em;
}
#news_category_selectors {
  display: inline;
}
#news_notes_collapse {
  padding-bottom: .7em;
}

/* News forms */
.news_preview {
  margin: 1em 0;
}

/* articles styles */
.news_categorylist li {
  margin-bottom: 0.3em;
}

div.news_index {
  overflow: hidden;
  padding: 0;
}

#news_articlecontent {
  overflow: hidden;
  padding: 0.5em 0;
}

.news_title {
  margin: 0.1em 0;
}
.news_index .news_title {
  margin: 0;
  padding: 2px 0;
}

.news_meta {
  font-size: 0.9em;
}

#news_topic img {
  float: right;
}

.news_body {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.news_body .news_hometext {
}

.news_separator {
  border-bottom: 1px solid #DDD;
  margin: 1em 0;
}

.news_footer {
  font-size: 0.9em;
  margin: 0;
  text-align: right;
}

.news_printlink img {
  vertical-align: middle;
}

.text_separator {
  color: #bbb;
  padding: 0 2px;
}

/* ajax links styles */
#news_editlinks {
  float: right;
}

#news_editlinks_ajax {
  float: right;
}

.hidelink {
  display: none;
}

.showlink {
  display: inline;
}

/* itemlist styles */
.itemlist {
	border: 1px solid #ccc;
	list-style: none;
	margin: 0;
	padding: 0;
}

.itemlist li {
	font-size: 1em;
	margin: 0 !important;
	padding: 0.3em 0 0.3em 1em;
}

.itemlist li input {
	width: 90%;
}

.itemlist li  * {
    margin: 0 !important;
	vertical-align: middle;
}

.itemlist .itemlistcell {
	float: left;
    margin: 0;
	text-align: left;
}

.itemlist .width88 {
	width: 88%;
}
.itemlist .width80 {
	width: 40%;
}
.itemlist .width66 {
	width: 66%;
}
.itemlist .width60 {
	width: 40%;
}
.itemlist .width44 {
	width: 44%;
}
.itemlist .width40 {
	width: 40%;
}
.itemlist .width22 {
	width: 22%;
}
.itemlist .width20 {
	width: 20%;
}
.itemlist .width15 {
	width: 15%;
}
.itemlist .width10 {
	width: 10%;
}
.itemlist .width7 {
	width: 7%;
}
.itemlist .width6 {
	width: 6%;
}
.itemlist .width5 {
	width: 5%;
}
.itemlist .width4 {
	width: 4%;
}

.itemlist .width10,
.itemlist .width15,
.itemlist .width20,
.itemlist .width22,
.itemlist .width40,
.itemlist .width44,
.itemlist .width60,
.itemlist .width66,
.itemlist .width80,
.itemlist .width88 {
	text-align: left;
}
.itemlist .width5,
.itemlist .width6,
.itemlist .width7 {
	white-space: nowrap;
}
.itemlist .width5 input,
.itemlist .width6 input,
.itemlist .width7 input {
	width: auto;
}
.itemlist .width4,
.itemlist .width5 {
	text-align: center;
}

.itemlist button {
	cursor: pointer;
}

.itemlist .buttondelete {
	/* don't remove this */
}

.itemlist_newitemdiv {
	margin: 1em 0 1em 1em;
}
