{*  $Id:  $  *}

<h4>{$title}</h4>
{if $stories}
<ul class="content_stories">
    {foreach from=$stories item=story}
    <li>
        {if $story.readperm}
            {if $useshorturls}
                <a href="{modurl modname=News func=display sid=$story.sid from=$story.from urltitle=$story.urltitle}">
            {else}
                <a href="{modurl modname=News func=display sid=$story.sid}">
            {/if}
        {/if}
        {if $story.readperm}<a href="{modurl modname=News func=display sid=$story.sid}">{/if}
            {if $story.dispnewimage}{pnimg modname='core' set=$newimageset src=$newimagesrc __alt='Create new article' __title='Create new article' domain="module_news"}{/if}
            {$story.title|varprephtmldisplay}{if $story.titlewrapped}{$titlewraptext|varprephtmldisplay}{/if}
        {if $story.readperm}</a>{/if}

        {* Optional additional info on the story *}
        {if $dispinfo}({if $dispuname}{gt text='Contributed by %s' tag1=$story.aid_uname|userprofilelink domain="module_news"}
        {if $dispdate} {gt text='on %s' tag1=$story.from|dateformat:$dateformat domain="module_news"}{/if}{if $dispreads||$dispcomments}{$dispsplitchar} {/if}{/if}
        {if $dispreads}{gt text='%s pageview' plural='%s pageviews' count=$story.counter tag1=$story.counter domain="module_news"}{if $dispcomments}{$dispsplitchar} {/if}{/if}
        {if $dispcomments}{gt text='%s comment' plural='%s comments' count=$story.comments tag1=$story.comments domain="module_news"}{/if})
        {/if}<br />

        {* Optional hometext display *}
        {if $disphometext}
        <div class="content_newsarticles_hometext">
            {if $story.hometextwrapped}
            {$story.hometext|truncatehtml:$maxhometextlength:''|varprephtmldisplay domain="module_news"}
            {if $story.readperm}<a href="{modurl modname=News func=display sid=$story.sid}">{/if}
                {$hometextwraptext|varprephtmldisplay}
            {if $story.readperm}</a>{/if}
            {else}
            {$story.hometext|varprephtmldisplay}
            {/if}
        </div>
        {/if}

        {* Remove this line to use the topic link and topicimage per News item as below
        {if $story.topicsearchurl neq ''}
        <div class="content_newsarticles_news_meta"><a href="{$story.topicsearchurl}">{if $story.topicimage neq ''}<img src="{$catimagepath}{$story.topicimage}" alt="{$story.topicname|varprephtmldisplay}" title="{$story.topicname|varprephtmldisplay}" />{else}{$story.topicname|varprephtmldisplay}{/if}</a></div>
        {/if}
        Remove this line to use the topic link and topicimage per News item as above *}
    </li>
    {/foreach}
</ul>
{else}
<p>{gt text='No articles published recently.' domain="module_news"}</p>
{/if}

{checkpermission component='News::' instance='::' level=ACCESS_COMMENT assign='submitauth'}
{if $linktosubmit && $submitauth}
<a href="{modurl modname='News' type='user' func='newitem'}">{pnimg modname='core' set='icons/extrasmall' src='edit_add.gif' __alt='Submit an article' domain="module_news"}{gt text='Submit an article' domain="module_news"}</a>
{/if}
